<!-- templates/registration/login.html -->



{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
<head>


  {% block title %} 
    Login 
  {% endblock title %}
</head>
{% block content %}
<body style="background-color:#D3D3D3">

<div class="cred">
<br>
    <h2><center>Log In</center></h2>
    <hr>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy  }}
      <button type="submit" class="btn btn-secondary">Log In</button>
    </form>


  <br>
  <div class="formfooter">
    <p style="text-align:center">New User? <a href="{% url 'register' %}">Sign up</a></p>
    <p style="text-align:center"><a href="/reset/password_reset/">Forget Password</a></p>
  </div>
</div>

</body>
{% endblock content %}