{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}


<body style="background-color:grey">


  <button type="button" class="btn btn-secondary"><a href="{% url 'login' %}">Logout</a></button>
  <button type="button" class="btn btn-secondary"><a href="{% url 'home' %}">New Search</a></button>
<hr style="width:100%">
<center><h3>Skin Disease Detection with Deep Learning</h3></center>

<div class='divform'>
	<center><h4>Upload Image or Enter URL</h4></center>

<div class="row justify-content-center" style="padding-top: 20px;">
    <div class="col-md-8">
<form action = "" method = "post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
      <div class="col-2">
      	<label id="pic">File:</label>
      </div>
      <div class="col-2">
        <p id="pic" class="">{{ form.pic }} </p>
      </div>
  </div>

  <div class="row">
      <div class="col-2">
      	<label id="url">URL:</label>
      </div>
      <div class="col-2">
        <p id="url" class="">{{ form.url }} </p>
      </div>
  </div>

  <center><input type="submit" value="Submit"  class="btn btn-success"></center>
</form>
</div>
</div>
<b>
<div class="row justify-content-center" style="padding-top: 20px;">
    <div class="col-md-8">
    	<h4><u>Following Disease can be diagnosed</u></h4>
    	<h6>Nevus, Basal Cell Carcinoma,Actinic Keratosis,Squamous Cell Carcinoma,Melanoma,Benign Keratosis lesions</h6>
    </div>
</div>

<div class="row justify-content-center" style="padding-top: 20px;">
   
{% if pred == "None" %}
{% else %}
<h3> Results </h3>
<center><strong>{{ disease }}</strong></center>
<table>
  <tr>
    <th>Disease</th>
    <th>Percentage</th> 
  </tr>
<br>
{% for d,p in pred %}
<tr>
  <td>{{ d }}</td>
  <td>{{ p }}</td>
</tr>
{% endfor %}
</table>

  <h3><center> Display Image </center></h3>
<img src="{{ path }}" ,width="500" height="400">
</center>	

{% endif %}

</div>



<br>
<br>


<div class="d-flex justify-content-between py-4 my-4 border-top">
  <center><p>&copy; Copyrighted by University Of Sargodha.</p></center>
  <ul class="list-unstyled d-flex">
    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
  </ul>
</div>
</footer>
</div>

{% endblock %}
</body>